<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>金链萌</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>

  <body class="sidebar-mini fixed">
    <div class="wrapper">

      <!-- 导航栏 -->
      <header class="main-header hidden-print">
        <a class="logo">logo金链萌</a>
        <nav class="navbar navbar-static-top">
          <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
          <div class="navbar-custom-menu">
            <ul class="top-nav">
              <!-- 消息通知 -->
              <li class="dropdown notification-menu"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>
                <ul class="dropdown-menu">
                  <li class="not-head">你有新的通知消息</li>
                </ul>
              </li>
              <!--个人中心-->
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu">
                  <li><a href="#"><i class="fa fa-cog fa-lg"></i>设置</a></li>
                  <li><a href="#"><i class="fa fa-user fa-lg"></i>个人中心</a></li>
                  <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i>登录</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- 侧边栏-->
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          
          <!-- 头像 名称 -->
          <div class="user-panel">
            <div class="pull-left image">
              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>个人信息保护</p>
              <p class="designation">授权平台</p>
            </div>
          </div>

          <!-- 信息展示项 -->
          <ul class="sidebar-menu">
            <li><a href="user_index.html"><i class="fa fa-dashboard"></i><span>我的授权</span></a></li>
            <li><a href="yinhang.html"><i class="fa fa-th-list"></i><span>银行流水</span></a></li>
            <li><a href="caichan.html"><i class="fa fa-edit"></i><span></span>财产证明</span></a></li>
            <li  class="active"><a href="huji.html"><i class="fa fa-laptop"></i><span></span>户籍证明</a></span></li>
            <li><a href="yiliao.html"><i class="fa fa-file-text"> </i><span></span>医疗记录</span></a></li>
            <li><a href="xueli.html"><i class="fa fa-circle-o"></i><span></span>学历信息</span></a></li>
          </ul>

        </section>
      </aside>

      <!-- 内容区域 -->
      <div class="content-wrapper">
        <div class="row">
          <!-- <div class="col-md-6"> -->
            <div class="card">
              <h3 class="card-title">户籍信息</h3>
              <p>Vali is a free and responsive dashboard theme built with Bootstrap, Pug.js (templating) 
                and SASS. It's fully customizable and modular. You don't need to add the code, 
                you will not use.</p>
              <p>The issue with the most admin themes out there is that if you will see their source 
                code there are a hell lot of external CSS and javascript files in there. And if you try
                 to remove a CSS or Javascript file some things stops working.</p>
              <p>That's why I made Vali. Which is a light weight yet expendable and good looking theme. 
                The theme has all the features required in a dashboard theme but this features are 
                built like plug and play module. Take a look at the about customizing the theme.</p>
            </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/pace.min.js"></script>
    <script src="js/main.js"></script>


  </body>
</html>